html{
  scroll-behavior: smooth;
}

body {
  background: rgb(37,37,37);
  background: radial-gradient(circle, rgba(37,37,37,1) 0%, rgba(53,53,53,1) 100%);
  margin: 0;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}


.topnav a {
  float: right;
  display: block;
  color: #FFFFFE;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnav #zepp_home {
  float: left;
  display: block;
  color: #FFFFFE;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #000000;
  transition-duration: 0.4s;
}

.topnav a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.topnav #zepp_home.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
  color: #ffffff;
  background-color: #000000;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

    .topnav.responsive #zepp_home {
    float: none;
    display: block;
    text-align: left;
  }
}

.zepp {
  display: block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.zepp_title {
  color: #FFFFFE;
  text-align: center;
  font-size: 40px;
  margin: 20px auto;
}

.zepp_description {
  color: #FFFFFE;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
}

.footer_text {
  color: #FFFFFE;
  text-align: center;
  font-size: 16px;
  margin: 30px auto;
}

.container {  
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.button {
  background-color: #ffffff;
  border: none;
  color: #FFFFFE;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button5 {
  background-color: #252525;
  color: #FFFFFE;
  border: 2px solid #ffffff;
}

.button5:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.dc-1, .dc-2 {  
  height: 100%;  
  display: flex;
  background-color: #252525;
  color: #FFFFFE;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  border-style: solid;
  border-color: #ffffff;
  transition-duration: 0.4s;
  gap: 10px 100px;
  justify-content: center;
  align-items: center;
}

.dc-1, .dc-2 {
  width: 80%;
}

.dc-1:hover, .dc-2:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.dc_1, .dc_2, .dc_3, .dc_4 {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
}

.dc_1 p, .dc_2 p, .dc_3 p, .dc_4 p{
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .dc-1, .dc-2{
    width: 265px;  
    height: 100%;
    text-align: left;
    text-decoration: left;
    display: grid;
  }
}

.card, .cards {
  width: 300px;
  height: 300px;
  display: grid;
  background-color: #252525;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  text-decoration: left;
  border-style: solid;
  border-color: #ffffff;
  transition-duration: 0.4s;
}

.cards_container {
  width: 700px;
  height: 400px;
  display: flex;
  gap: 0px 100px;
  margin-right: auto;
  margin-left: auto;
}

/*
.card:hover, .cards:hover {
  background-color: #fffffe;
}
*/

@media screen and (max-width: 1024px) {
  .cards {
    width: 300px;
    height: 300px;  
    display: grid;
    background-color: #252525;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    text-decoration: left;
    border-style: solid;
    border-color: #ffffff;
    transition-duration: 0.4s;
  }

  .cards_container {
    width: 100%;
    height: 100%;  
    display: grid;
 }
}